/************ Projects Css ************/
.contact {
  background: rgba(8, 8, 8, 255);
  padding: 300px 0 200px 0;
}
.mainContact {
  position: relative;
  height: auto;
  width: 120%;

  margin: 40px 60px 40px 70px;
  margin-left: 20%;
  background: rgba(8, 8, 8, 255);
  border: 2px solid;
  border-radius: 60px;
  box-shadow: 1px 1px 59px 31px rgba(181, 63, 63, 0.69);
  -webkit-box-shadow: 1px 1px 59px 31px rgba(181, 63, 63, 0.69);
  -moz-box-shadow: 1px 1px 59px 31px rgba(181, 63, 63, 0.69);
}
.row {
  width: 60%;
  padding: inherit;
  max-width: 95%;
  margin: 15px 150px;
  align-items: center;
  border-radius: inherit;
}
.px-1 {
  height: auto;
  width: 100%;
  border-radius: inherit;
  text-align: center;
}

.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 500px auto;
}
.contact h2 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #fff;
  border-radius: inherit;
  text-align: center;
}
.formContact {
  width: 80%;
  margin: 25px 40px 25px 40px;
  border-radius: inherit;
  text-align: center;
}
.contact form input,
.contact form textarea {
  width: 120%;
  background: rgba(8, 8, 8, 255);
  border: 1px solid #f9004d;
  border-radius: 20px;
  color: #fff;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.contact form input:focus,
.contact form textarea:focus {
  background: rgba(8, 8, 8, 255);
  color: #fff;
}
.contact form input::placeholder,
.contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.contact form input:focus::placeholder,
.contact form textarea:focus::placeholder {
  color: rgb(0, 0, 0);
  opacity: 0.8;
}
.contact form button {
  font-weight: 700;
  color: rgba(8, 8, 8, 255);
  background-color: rgba(8, 8, 8, 255);
  padding: 14px 48px;
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 30%;
  border-radius: 0;
  border-color: #f9004d;
  position: relative;
  transition: 0.3s ease-in-out;
}
.contact form button span {
  z-index: 1;
  position: relative;
  color: #fff;
  background-color: #f9004f00;
}
.contact form button:hover {
  color: rgba(8, 8, 8, 255);
}
.contact form button::before {
  content: "";
  background: #f9004d;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.contact form button:hover::before {
  width: 100%;
}

/************ Footer Css ************/

.newsletter-bx {
  background: #ffffff;
  border-radius: 55px;
  color: rgba(8, 8, 8, 255);
  padding: 85px 125px;
  margin-bottom: 80px;
  margin-top: -122px;
}
.newsletter-bx h3 {
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1.2em;
}
.new-email-bx {
  background: #fff;
  padding: 5px;
  border-radius: 20px;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
}
.new-email-bx::before {
  content: "";
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
}
.new-email-bx::after {
  content: "";
  background: #fff;
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.new-email-bx input {
  width: 100%;
  color: #121212;
  font-weight: 500;
  background: transparent;
  border: 0;
  padding: 0 15px;
}
.new-email-bx button {
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  padding: 20px 65px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 18px;
}

.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #b8b8b8;
  letter-spacing: 0.5px;
  margin-top: 20px;
}
.contact__info {
  width: 300px;
  height: 600px;
  position: relative;
  padding-inline: 100px;
  text-align: justify;
  display: flex;
  justify-content: center;
  margin: 40px 60px 40px 70px;
  margin-top: 20%;
  align-items: center;
}
.location__icon {
  height: 50px;
  width: 50px;

  border-radius: 20px;
}
.phone__icon {
  height: 50px;
  width: 50px;

  border-radius: 20px;
}
.mail__icon {
  height: 50px;
  width: 50px;
  fill: "currentColor" !important;
}

.contact__items {
  padding-inline: 10px;
  display: flex;
  flex-direction: column;
}

* {
  vertical-align: middle;
}

.container_item {
  margin-bottom: 15px;
}

.logoWrapper {
  color: white;
}
